html,
body,
#app {
  margin: 0;
  padding: 0;
  width: calc(400px - 16px);
  height: 100%;
  background-color: #ffcd32;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#app {
  padding-left: 8px;
  padding-right: 8px;
  display: block;
}

body,
button {
  font-family: 'Cute Mono', sans-serif;
  font-size: 22px;
  line-height: 30px;
  color: white;
  line-height: 15px;
}

button {
  font-size: 24px;
  word-spacing: -2px;
  color: white;
  text-shadow: 2px 2px 1px black;
  line-height: 15px;
  background: url('/images/buttons/button.png') no-repeat;
  background-size: 100%;
  background-position: center;
  width: 150px;
  height: 57px;
  border: 0;
  background-clip: border-box;
  padding-bottom: 4px;
}

.title {
  text-align: center;
  font-size: 42px;
  line-height: 34px;
  font-weight: normal;
  line-height: 110%;
  margin: 5px;
  text-shadow: 4px 4px 1px black;
}

@font-face {
  font-family: 'Cute Mono';
  src: url('/fonts/retro-pixel-cute-mono.woff2') format('woff2'),
}